.ListingWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.imagesPreview {
  display: flex;
  flex-direction: row;
}

.imagesPreview div {
  width: 150px;
  height: 150px;
  border: grey 1px solid;
  margin: 1px;
  display: flex;
  justify-content: center;
}

.imagesPreview div img {
  max-width: 100%;
  max-height: 100%;
}

.slick-image {
  max-width: 400px;
  max-height: auto;
}

.slick-carousel {
  margin-bottom: 5%;
}

.slick-prev {
  margin-left: 40px;
  z-index: 3;
}

.slick-next {
  margin-right: 40px;
  z-index: 3;
}