.ListingWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#footer {
  width: 100vw;
  position: relative;
  left:0;
  bottom: 0;
  right:0;
  height: 15vh;
  background-color: rgb(29, 29, 29);
  color: white;
}

#footerLogo {
  width: 130px;
}

#footerWrapper {
  width: 90%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footerLinks {
  color: #f3f3f3a1;
}

#footerLinks :hover {
  color: #ffffff;
}

#footerHeaders {
  color: white;
  font-weight: bold;
}

.imagesPreview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.singleImagePreview {
  width: 150px;
  height: 190px;
  margin: 1px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.theImage {
  max-width: 100%;
  border: grey 1px solid;
  max-height: 100%;
}

/* START CAROUSEL STYLING */
.slick-carousel {
  margin-bottom: 10%;
}

.slick-prev {
  margin-left: 40px;
  z-index: 3;
}

.slick-next {
  margin-right: 40px;
}

.slick-slider {
  width: 50%;
  margin: 0 auto;
}
/* END CAROUSEL STYLING */

/* START LISTING STYLING */
.listing-description {
  margin-top: 5%;
  width: auto;
  height: auto;
}
/* END LISTING STYLING*/

.deleteButton {
  height: 100%; 
  width: 100%;
}