.ListingWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#main-container {
  padding-bottom: 5vh;
}

#wrapper {
  min-height: 100vh
}

/* START FOOTER STYLING */
#footer {
  width: 100vw;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 15vh;
  margin-top: 5vh;
  background-color: rgb(29, 29, 29);
  color: white;
}

#footerLogo {
  width: 130px;
}

#footerWrapper {
  width: 90%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footerLinks {
  color: #f3f3f3a1;
}

#footerLinks :hover {
  color: #ffffff;
}
/* END FOOTER STYLING */

#tagLine {
  color: #f3f3f3a1;
}

#footerHeaders {
  color: white;
  font-weight: bold;
}

.imagesPreview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.singleImagePreview {
  width: 150px;
  height: 150px;
  margin: 0 2vw 0 2vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.theImage {
  max-width: 100%;
  max-height: 100%;
}

div.singleImagePreview button {
  height: 3vh;
  width: auto;
  margin-left: 1vw;
  border-radius: 5px;
}

.deleteButton {
  height: 100%;
}

#latest-listings {
  margin-bottom: 20px;
}

/* START CAROUSEL STYLING */
.slick-carousel {
  margin-bottom: 10%;
}

.slick-prev {
  margin-left: 40px;
  z-index: 3;
}

.slick-next {
  margin-right: 40px;
}

.slick-slider {
  width: 90%;
}
/* END CAROUSEL STYLING */

/* START LISTING STYLING */
div.row {
  min-height: 80vh;
}

div.stretched.column.listing-details {
  min-height: 80vh;
}

.listing-details {
  padding-left: 100px;
  display: flex;
  flex-direction: row;
}

.listing-description {
  margin-left: 4vw;
  padding-top: 2vh;
  display: inline-block;
}

.listing-description h1 {
  margin-bottom: none;
}

.listing-description h4 {
  margin-bottom: 5vh;
  margin-top: none;
}

.listing-description p {
  font-size: 1.2em;
}

.contact-info {
  padding-bottom: 5vh;
}

.contact-info div.ui.card {
  width: 30vw;
  height: 30vh;
  font-size: 1.2em;
  margin-left: 4vw;
  margin-top: 5vh;
}

.contact-info div.ui.card div.content {
  padding: 3vh;
}

div.header {
  margin-top: 1vh;
}

div.meta {
  margin-top: 3vh;
}

.contact-info div.ui.card img {
  width: 5vw;
  height: auto;
}

.ui-two-buttons #email {
  float: left;
  width: 45%;
}

.ui-two-buttons #profile {
  float: right;
  width: 50%;
}

#update {
  float: right;
}
/* END LISTING STYLING*/

/* START NEW LISTING STYLING*/
.new-listing div.ui.fluid.selection.dropdown {
  margin-bottom: 5vh;
}

div.ui.checkbox {
  margin: 5vh 0 3vh 0;
}
/* END NEW LISTING STYLING*/

/* START UPDATE LISTING STYLING*/
div.ui.container.update-listing {
  display: inline-block;
  flex-direction: column;
  justify-content: center;
}
/* END UPDATE LISTING STYLING*/

/* START LOGIN STYLING*/
#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85vh;
  padding-top: 10vh;
  text-align: center;
}

#login h1 {
  margin-bottom: 5vh;
  text-align: center;
}

form.ui.form {
  width: 70vw;
}

#login div.fields {
  display: flex;
  justify-content: center;
  margin: 2vh 0 2vh 0;
}

div.fields#buttons {
  margin-top: 5vh;
}

div.field button.ui.button {
  margin-left: 10px;
  margin-right: 10px;
  min-width: 8vw;
}

/* END LOGIN STYLING*/

.guidelines {
  height: 100vh;
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: center;
  margin-top: 20%;
}

/* about page */

.about {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.aboutLogo img {
  width: 40%;
}

.aboutHero {
  height: 100vh;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
}

.aboutHeroText h3 {
  font-family: 'Playfair Display', serif;
  font-size: 5.5em;
}

.aboutHeroText {
  width: 90%;
}

.aboutHeroText p {
  font-family: "Futura-Medium";
  letter-spacing: -1px;
  
  font-size: 1.7em;
}

.aboutHero h1 {
  font-family: "Futura-Medium";  
  font-size: 1.8em;
}

.aboutSections{
  min-height: 55vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  font-family: "Futura-Normal";
  font-size: 1.5em;  
  letter-spacing: -1px;
  
}

#aboutList {
  margin-left: 2em;
}

#aboutListItem {
  margin-bottom: 1em;
}

#aboutSecHeaders {
  font-family: "Futura-medium";
  font-size: 1em;
}


.aboutSections h2{
  font-family: "Futura-Bold";
  font-size: 1.7em;
}

#takeme2nd {
  font-family: "Futura-Bold";
  letter-spacing: -2px;
  word-spacing: -1px;
  margin-left: 2px;
}

@font-face {
  font-family: "Futura-Bold";
  src: url("./fonts/Futura-Bold.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Futura-Bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura-Light";

  src: url("./fonts/Futura-Light.woff") format("woff"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Futura-Medium";

  src: url("./fonts/Futura-Medium.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Futura-Medium.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Futura-Normal";

  src: url("./fonts/Futura-Normal.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Futura-Normal.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/* end of about */

.search div.field {
  width: 100%;
}

.listingCard:hover {
  top: -5px;
}

div.ui.blue.inverted.search.menu {
  margin-bottom: 5vh;
  padding: 10px 0 10px 0;
}

#toggle .ui.toggle.checkbox input:checked~label:before {
  background-color: #f79421 !important;
}

.search .ui.dropdown:not(.button)>.default.text {
  color: #888888 !important;
}

.search {
  color: black !important;
}